.donationInputGroup {
  &__btn  {
    color: $white;
    background-color: $mint-120 !important;
    border-color: $mint-120 !important;
  }

  &__btn:hover, &__btn:focus {
    color: $white;
  }

  &__label {
    width: 1px;
    height: 1px;
  }

  &__input {
    font-size: 1.25rem;
  }

  &__input, &__input:focus {
    color: $black;
  }

  &__dollarSign {
    left: .55rem;
    top: .65rem;
    z-index: 10;
  }
}